// Calibre

@font-face {
  font-family:    'Calibre';
  src:            url(font-path('CalibreWeb-Regular.woff')) format('woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Calibre';
  src:            url(font-path('CalibreWeb-Medium.woff')) format('woff');
  font-weight:    bold;
  font-style:     normal;
}


// Tiempos

@font-face {
  font-family:    'Tiempos';
  src:            url(font-path('Tiempos-Regular.woff')) format('woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Tiempos';
  src:            url(font-path('Tiempos-RegularItalic.woff')) format('woff');
  font-weight:    normal;
  font-style:     italic;
}


// Inconsolata

@font-face {
  font-family:    'Inconsolata';
  src:            url(font-path('Inconsolata.woff')) format('woff');
  font-weight:    normal;
  font-style:     normal;
}

// Supria Sans

@font-face {
  font-family:    'Supria Sans';
  src:            url(font-path('supriasans-black-web.woff')) format('woff');
  font-weight:    bolder;
  font-style:     normal;
}

@font-face {
  font-family:    'Supria Sans';
  src:            url(font-path('supriasans-bold-web.woff')) format('woff');
  font-weight:    bold;
  font-style:     normal;
}

@font-face {
  font-family:    'Supria Sans';
  src:            url(font-path('supriasans-light-web.woff')) format('woff');
  font-weight:    normal;
  font-style:     normal;
}


// // Apercu

// @font-face {
//   font-family:    'Apercu';
//   src:            url(font-path('Apercu Pro Medium-webfont.woff')) format('woff');
//   font-weight:    bold;
//   font-style:     normal;
// }

// @font-face {
//   font-family:    'Apercu';
//   src:            url(font-path('Apercu Pro Regular-webfont.woff')) format('woff');
//   font-weight:    normal;
//   font-style:     normal;
// }

// @font-face {
//   font-family:    'Apercu';
//   src:            url(font-path('Apercu Pro Light-webfont.woff')) format('woff');
//   font-weight:    light;
//   font-style:     normal;
// }
