// Calibre

@font-face {
  font-family:    'Calibre';
  src:            url('fonts/CalibreWeb-Regular.woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Calibre';
  src:            url('fonts/CalibreWeb-Medium.woff');
  font-weight:    bold;
  font-style:     normal;
}


// Tiempos

@font-face {
  font-family:    'Tiempos';
  src:            url('fonts/Tiempos-Regular.woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Tiempos';
  src:            url('fonts/Tiempos-RegularItalic.woff');
  font-weight:    normal;
  font-style:     italic;
}


// Inconsolata

@font-face {
  font-family:    'Inconsolata';
  src:            url('fonts/Inconsolata.otf');
  font-weight:    normal;
  font-style:     normal;
}


// Apercu

@font-face {
  font-family:    'Apercu';
  src:            url('fonts/Apercu Pro Medium-webfont.woff');
  font-weight:    bold;
  font-style:     normal;
}

@font-face {
  font-family:    'Apercu';
  src:            url('fonts/Apercu Pro Regular-webfont.woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Apercu';
  src:            url('fonts/Apercu Pro Light-webfont.woff');
  font-weight:    light;
  font-style:     normal;
}


// Supria Sans

@font-face {
  font-family:    'Supria Sans';
  src:            url('fonts/supriasans-black-web.woff');
  font-weight:    bolder;
  font-style:     normal;
}

@font-face {
  font-family:    'Supria Sans';
  src:            url('fonts/supriasans-bold-web.woff');
  font-weight:    bold;
  font-style:     normal;
}

@font-face {
  font-family:    'Supria Sans';
  src:            url('fonts/supriasans-light-web.woff');
  font-weight:    normal;
  font-style:     normal;
}