// Calibre

@font-face {
  font-family:    'Calibre';
  src:            url(font-path('CalibreWeb-Regular.woff')) format('woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Calibre';
  src:            url(font-path('CalibreWeb-Medium.woff')) format('woff');
  font-weight:    bold;
  font-style:     normal;
}

// Inconsolata

@font-face {
  font-family:    'Inconsolata';
  src:            url(font-path('Inconsolata.woff')) format('woff');
  font-weight:    normal;
  font-style:     normal;
}

@font-face {
  font-family:    'Inconsolata';
  src:            url(font-path('Inconsolata-Bold.woff')) format('woff');
  font-weight:    bold;
  font-style:     normal;
}