$spacing-margin: 7px

.ion-icon
  font-size: 1.2em
  display:   inline-block

.icon-text
  font-size: 1em

.icon-aligned
  .ion-icon
    display:      inline-block

  .icon-text
    display:      inline-block
    margin-left:  10px

.icon-to-left
  .ion-icon
    float:     left

  .icon-text
    float:         left
    margin-left:   $spacing-margin

.icon-to-right
  .icon-text
    margin-right:  $spacing-margin

  .ion-icon
    float:         right