*
  -webkit-font-smoothing: antialiased
  font-family: 'Calibre', 'Helvetica Neue', Helvetica, Arial, sans-serif
  // font-family: 'Apercu', sans-serif
  // font-family: 'Supria Sans', sans-serif
  // font-family: 'Karla', sans-serif

h1, h2, h3, h4, h5, h6
  // font-family: 'Karla', sans-serif
  font-weight: bold

pre, code
  font-family: 'Inconsolata', monospace

li a
  text-decoration: none !important

.larger-font
  font-size: 1.2em

.icon
  font-size: 20em !important

p
  color:                 rgb(69, 69, 71)
  font-size:             1em
  line-height:           1.53em
  margin-bottom:         2em