// SCREEN SIZES
$screen-sm: 758px
$screen-md: 992px
$screen-lg: 1200px

// GREENS
$green:       #27d096
$dark-green:  darken (#27d096, 4%)
$light-green: lighten(#27d096, 4%)

// GREYS
$grey: #515562
$darkest-grey:   darken($grey, 55%)
$darker-grey:    darken($grey, 35%)
$dark-grey:      darken($grey, 25%)
$lightish-grey:  lighten($grey, 35%)
$light-grey:     lighten($grey, 48%)
$lighter-grey:   lighten($grey, 55%)
$lightest-grey:  lighten($grey, 61%)
$off-white:      lighten($grey, 64%)

$background-color:      $off-white

$nav-height:    50px
$footer-height: 50px

$default-box-shadow: rgba($grey, 0.2) 3px 3px 12px 0px
$lighter-box-shadow: rgba($grey, 0.1) 1px 1px 12px 0px
$default-border:     1px solid $lighter-grey