@import 'all_partials';

$list-item-bkgd:           white;
$list-item-bkgd-selected:  $lightest-grey;
$list-item-border:         1px solid $lighter-grey;

#activity-log {
  // overflow-x: hidden;
  width: 100%;

  // Padding with opposite margin allows us to see the box-shadow
  padding: 30px;
  margin: -30px;

  .finding {
    .label.pull-right {
      font-size:    83%;
      font-weight:  bolder;
      padding:      0.4em 0.5em;
    }

    .date {
      margin-right: 10px;
    }
  }

  .ion-icon.ion-star {
    margin-right: 12px;
    margin-top: -3px;
    cursor: pointer;
  }

  .favorited .ion-icon {
    color: #FFDC00;
  }
}


.slide-enter {
  opacity: 0.01;
  @include translate(0, 30px);
  transition: transform 250ms ease-out;

  &.slide-enter-active {
    opacity: 1;
    @include translate(0, 0);
  }
}

.slide-leave {
  @include translate(0, 0);
  transition: transform 250ms linear;
  &.slide-leave-active {
    @include translate(100%, 0);
  }

  &.activity-log .selected.finding {
    box-shadow:         $lighter-box-shadow-no-top;
  }

}

#mass-visibility-update {
  .label {
    font-size:    83%;
    font-weight:  bolder;
    padding:      0.4em 0.5em;
  }
}

.title {
  display:  inline;
  overflow: hidden;
  width:    80%;
}