@import 'all_partials';

#activity-log {
  overflow: hidden;
  width: 100%;
}

.slide-enter {
  opacity: 0.01;
  @include translate(0, 30px);
  transition: transform 250ms ease-out;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  @include translate(0, 0);
}

.slide-leave {
  @include translate(0, 0);
  transition: transform 250ms linear;
}

.slide-leave.slide-leave-active {
  @include translate(100%, 0);
}