@import 'all_partials';

$card-color:       $background-color;
$card-hover-color: white;
$article-height:   230px;
$fade-height:      55px;
$fade-top:         175px;
$card-padding:     20px;
$card-border:      $default-border;

.findings-stream {
  .finding {
    border:       1px solid transparent;
    border-top:   $default-border;
    padding:      15px 15px 10px 15px;
    .ion-icon {
      width: 14px;
      color: $light-grey;
      display: inline-block;
      &:hover {
        color: $lightish-grey;
      }
    }
    .above-card {
      z-index: 2;
      position: relative;
      cursor: pointer;
    }
  }
  .selected:last-of-type .finding,
  .unselected:last-of-type .finding,
  .finding.selected:last-of-type,
  .finding.unselected:last-of-type
  {
    border-bottom:   $default-border;
  }

  .selected .finding, .selected.finding {
    background-color:   $card-hover-color;
    border-left:        $default-border;
    border-right:       $default-border;
    box-shadow:         $lighter-box-shadow;
  }

  .unselected .finding:hover {
    box-shadow:   inset  0  10px  10px -10px $lightest-grey,
                  inset  0  -10px 10px -10px $lightest-grey;
  }

  .card-buttons {
    padding:        0;
    position:       relative;
    background:     linear-gradient(rgba($card-hover-color, 0.4), $card-hover-color);
    height:         25px;
    margin-bottom:  -25px;
    margin-top:     0;
    top:            -20px;
    .card-button {
      display: inline-block;
      cursor: pointer;
      .ion-icon {
        font-size: 1em;
      }
      &.top-margin-tiny {
        margin-top: 1px;
      }
      &.smaller {
        font-size: 0.9em;
      }
    }
    .left {
      .card-button {
        margin-right: 2*$card-padding;
      }
    }
    .right {
      .card-button {
        float:        right;
        margin-left:  2*$card-padding;
      }
    }
  }
}







.findings-stream .btn-toolbar button.btn.btn-secondary {
  &:focus, &:active, &:hover, &:visited {
    outline: none !important;
  }
}
.card {
  border-radius: 4px;
  padding:  $card-padding;
  margin-bottom: 10px;
  background-color:  rgba($card-color, 0.9);
  border:           $card-border;
  &:hover {
    background-color:  $card-hover-color;
    box-shadow:        $lighter-box-shadow;
  }
}
.filled-div {
  position: relative;
  a.fill-div {
    position:         absolute;
    width:            100%;
    height:           100%;
    top:              0;
    left:             0;
    text-decoration:  none;
    z-index:          1;
    background-color: white;
    opacity:          0;
    filter:           alpha(opacity = 1);
  }
}
.date {
  // text-transform: uppercase;
  color:          $lightish-grey;
}
.article-body {
  position:   relative;
  overflow:   hidden;

  .date-and-user {
    display: inline-flex;
    .user-link {
      padding-right: 5px;
    }
    .date-and-user-spacer {
      color: $lightish-grey;
      font-size: .8em;
      padding: 2px 5px;
    }
    .date {
      padding-left: 5px;
    }
  }

  @include transition(all 0.3s ease-out);

  &.expanded {
    max-height: 5000px;
    &:after {
      opacity: 0;
      @include transition(opacity 0.1s ease-in);  // Immediately remove the fade
    }
  }
  &.collapsed {
    max-height: $article-height;
  }
  &:after {
    opacity: 1;
    content:    '';
    position:   absolute;
    left:       0;
    width:      100%;
    height:     $fade-height;
    top:        $fade-top;
    background: linear-gradient(rgba(0,0,0,0), $card-color);

    @include transition(opacity 0.3s ease-in 0.1s);

    &:hover {
      background: linear-gradient(rgba(0,0,0,0), $card-hover-color);
    }
  }
}

.centerDropdown {
  left:         50% !important;
  margin-left:  -70px !important;
}

.inline-block {
  display: inline-block;
}