@import 'all_partials';

$card-color:       white;
$card-hover-color: white;
$article-height:   230px;
$fade-height:      55px;
$fade-top:         185px;
$card-padding:     20px;
$card-border:      $default-border;

.card {
  border-radius: 4px;
  padding:  $card-padding;
  margin-bottom: 10px;
  background-color: $card-color;
  border:           $card-border;
  &:hover {
    background-color:  $card-hover-color;
    box-shadow:        $lighter-box-shadow;
  }
  .top {
    z-index: 2;
    position: relative;
    cursor: pointer;
  }
  .ion-icon {
    width: 14px;
    color: $light-grey;
    &:hover {
      color: $lightish-grey;
    }
  }
  .card-buttons {
    border-top: $card-border;
    margin: 0 (-$card-padding) (-$card-padding) (-$card-padding);
    padding: (0.2 * $card-padding) ($card-padding);
    .card-button {
      display: inline-block;
      cursor: pointer;
      .ion-icon {
        font-size: 1em;
      }
      &.top-margin-tiny {
        margin-top: 1px;
      }
      &.smaller {
        font-size: 0.9em;
      }
    }
    .left {
      .card-button {
        margin-right: 2*$card-padding;
      }
    }
    .right {
      .card-button {
        float:        right;
        margin-left:  2*$card-padding;
      }
    }
  }
}
.filled-div {
  position: relative;
  a.fill-div {
    position:         absolute;
    width:            100%;
    height:           100%;
    top:              0;
    left:             0;
    text-decoration:  none;
    z-index:          1;
    background-color: white;
    opacity:          0;
    filter:           alpha(opacity = 1);
  }
}
.date {
  text-transform: uppercase;
  color:          $lightish-grey;
}
.article-body {
  position:   relative;
  overflow:   hidden;
  &.collapsed {
    max-height: $article-height;
    &:after {
      content:    '';
      position:   absolute;
      left:       0;
      width:      100%;
      height:     $fade-height;
      top:        $fade-top;
      background: linear-gradient(rgba(0,0,0,0), $card-color);
      &:hover {
        background: linear-gradient(rgba(0,0,0,0), $card-hover-color);
      }
    }
  }
}