@import 'variables';

$navbar-background: #222;

.navbar.navbar-inverse {

  li a, .icon-text {
    font-family:   'Karla', sans-serif !important;
    display:       inline-block;
  }

  li {
    height:        $nav-height;

    a {
      font-size:     1em;
    }
  }

  .dropdown.inverse {
    .dropdown-menu {
      padding:          0;
      background-color: $navbar-background;
      border-color:     #080808;
      right:            0;
      left:             0;

      & > li {
        height: auto;
        a {
          width:   100%;
          color:   #999;
          padding: 10px 20px;

          &:hover, &:focus, &:active {
            color:            #fff;
            background-color: #000;
          }
        }
      }

      .divider {
        background-color: #000;
        height:           1px;
        margin:           0;
      }
    }
  }
}